.search-box
{
    background: #fafafa 100% 50% no-repeat url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMgMykiPjxwYXRoIGQ9Im0xMS43NDIzOTY2IDEyLjQ0OTUwMzQgNC45MDQgNC45MDQuMzUzNTUzNC4zNTM1NTM0LjcwNzEwNjgtLjcwNzEwNjgtLjM1MzU1MzQtLjM1MzU1MzQtNC45MDQtNC45MDQtLjM1MzU1MzQtLjM1MzU1MzQtLjcwNzEwNjguNzA3MTA2OHoiLz48cGF0aCBkPSJtMTMuNSA3LjVjMCAzLjMxMzg1NzYtMi42ODYxNDI0IDYtNiA2LTMuMzEzODU3NjMgMC02LTIuNjg2MTQyNC02LTYgMC0zLjMxMzg1NzYzIDIuNjg2MTQyMzctNiA2LTYgMy4zMTM4NTc2IDAgNiAyLjY4NjE0MjM3IDYgNnptMSAwYzAtMy44NjYxNDIzNy0zLjEzMzg1NzYtNy03LTctMy44NjYxNDIzNyAwLTcgMy4xMzM4NTc2My03IDcgMCAzLjg2NjE0MjQgMy4xMzM4NTc2MyA3IDcgNyAzLjg2NjE0MjQgMCA3LTMuMTMzODU3NiA3LTd6Ii8+PC9nPjwvc3ZnPg==');
    border: 0;
    box-shadow: none;
    padding: 5px;
    width: 93%;
    line-height: 18px;
    letter-spacing: -.3px;
    font-size: 12px;
}