.menu
{
    background-color: #fff;
    width: 395px;
    padding: 10px 15px;
}

.menu h1
{
    font-size: 18px;
    letter-spacing: .5px;
    margin: 0 auto 5px;
}

.menu p
{
    margin: 0 0 5px;
    line-height: 18px;
    font-style: italic;
    font-size: 14px;
    letter-spacing: -1px;
    color: #bbb;
    width: 90%;
}

.menu .resource-search
{
    background-position-x: 95%;
    width: 100%;
    margin-left: -7px;
}

.menu .checklist
{
    margin-left: -15px;
    margin-right: -15px;
}
