.subheader
{

}

.subheader__title
{
    color: #4e8fee;
    text-transform: uppercase;
    font-size: 12px;
    margin: 10px 0;
}

.subheader__description
{
    line-height: 18px;
    font-style: italic;
    font-size: 14px;
    letter-spacing: -1px;
    color: #bbb;
    margin: 10px 0 15px;
}