.header
{
    background-color: #49545e;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    color: #fff;
    height: 28px;
    z-index: 1;
}

.header__logo,
.header__title
{
    display: inline-block;
    vertical-align: middle;
}

.header__logo
{
    width: 100px;
    margin-right: 20px;
}

.header__title
{
    font-size: 20px;
}
