body
{
  background-color: #f3f3f3;
}

.App
{
  margin-top: 48px;
  display: flex;
  /*flex-direction: row;*/
}

.content
{
  background-color: #fff;
  margin: 50px;
}

.main-menu,
.content
{
  /*flex-direction: column;*/
  /*flex: 1;*/
}

.content__sidebar-left,
.content__sidebar-right
{
  flex-basis: 50%;
  box-sizing: border-box;
  padding: 14px;
}

.main-menu
{
  background-color: #fff;
  width: 395px;
  padding: 10px 15px;
}

.main-menu h1
{
  font-size: 18px;
  letter-spacing: .5px;
  margin: 0 auto 5px;
}

.main-menu p
{
  margin: 0 0 5px;
  line-height: 18px;
  font-style: italic;
  font-size: 14px;
  letter-spacing: -1px;
  color: #bbb;
  width: 90%;
}

.main-menu .resource-search
{
  background-position-x: 95%;
  width: 100%;
  margin-left: -7px;
}

.main-menu .checklist
{
  margin-left: -15px;
  margin-right: -15px;
}

.item-title
{
  font-size: 13px;
  text-transform: uppercase;
  color: #4e8fee;
  margin: 10px 0;
}

.item-description
{
  font-style: italic;
  color: #bbb;
  margin: 10px 0;
}
